body {
}

.illustration {
  height: 100px;
}

.form-group {
  height: 20px;
}

.icon.ion-ios-navigate {
  font-size: 70px;
}

.form-control {
}

#email {
  padding-top: 20px;
}

#1stdiv {
  height: 100%;
  width: 100%;
}

